<div class="container">
  <div class="row">
  
  </div>
  <div class="row">
    <div class="col-md-8">
    
      <div id="products-list" class="products-list clearfix search-results" infiniteScroll [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="60" (scrolled)="onScroll()" [infiniteScrollDisabled]="isFullListDisplayed"
        [scrollWindow]="false">
        <ul>
          <li *ngFor="let product of itemsToShow">
            <shopping-cart-item class="packageCard" [product]="product"></shopping-cart-item>
          </li>

        </ul>
      </div>
      <div class="showmore" >Scroll for more products</div>
    </div>
  
    <app-cout-spinner style="display: none;"></app-cout-spinner>
    <div class="col-md-4">
      <!-- <h3>test</h3> -->

      <div id="cart" class="cart">
        <shopping-list></shopping-list>
      </div>
    </div>
  </div>
</div>